$lightgrey: #f0f0f0;
$medgrey: #a0a0a0;
$red: #AE0909;

$h1Font: 30px;
$h2Font: 24px;
$pFont: 18px;
$vSmall: 16px;

$expEdYearFont: 16px;
$expEdYearPadding: 10px;
$expEdItemFont: 12px;

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


header {
  background: #D0021B;
  width: 100%;
  height: 400px;
  background-image: -webkit-linear-gradient(rgba(180,15,15,0.50) 0%, rgba(0,0,0,0.50) 60%);
  background-image: -o-linear-gradient(rgba(180,15,15,0.50) 0%, rgba(0,0,0,0.50) 60%);
  background-image: linear-gradient(rgba(180,15,15,0.50) 0%, rgba(0,0,0,0.80) 60%);
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

#temp-graph{
  position: absolute;
  left:0;
  top:0;
  position: fixed;
  width: 100%;
}

svg{
  //filter:url(#blur-effect);
  height: 400px;
  opacity: .6;
  width: 100%;
}

h1{
  position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: $h1Font;
  letter-spacing: 2px;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #fff;
  // border-radius: 10px;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}


nav {

  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  top: 340px;
  z-index: 99;

  li {
    display: inline-block;
    margin: 20px 20px;
    padding: 0 6px;
  }

  a{
    color: $lightgrey;
    font-size: $pFont;
    text-transform: uppercase;
  }

  a:hover{
    color: #FFCC00;
  }
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: $medgrey;
}

p {
    line-height: 1.4;
    font-size: $pFont;
    vertical-align:top;
}


.data-viz{
  overflow:hidden;
}

.about-me, .quote, .statistics, .contact, .data-viz, .exp-ed, .fire-arts{
  padding: 60px 0;
  position: relative;
}

.about-me, .quote, .statistics, .contact {
  background: $lightgrey;
  min-height: 200px;
  p {
    display: inline-block;
    margin: 10px 3%;
    text-align: justify;
  }
}

.data-viz, .exp-ed {
  min-height: 400px;
  background: #980013;
  background-image: radial-gradient(50% 100%, rgba(180,15,15,0.50) 0%, rgba(0,0,0,0.50) 100%);
  position: relative;
  background-attachment: fixed;
}

h2 {
  margin-top: 0px;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: $h2Font;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, .2);
}

h2.red{
  color: $red;
  border: 1px solid $red;
  background: rgba(0, 0, 0, .05);
}

.container{
  margin-top: 10px;
  padding-top: 40px;
}

.description {
  display: block;
  margin: 0 auto;
}

.flex-container{
  padding-top: 10px;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  align-content: center;
}

.tool{
  font-size: $pFont;
  display: inline-block;
  margin: 10px 40px;
}

.about-me{
  p{
    width: 70%;
  }
}

.data-viz{
  .container{
    color: #fff;
  }

  .description{
    width: 70%;
  }
  
  p{
    text-align: justify;
    padding-bottom: 16px;
  }

  a{
    color: $lightgrey;
  }

  a:hover{
    color: $medgrey;
  }

}

.gallery{
  padding-top: 40px;
}

.gallery-cell{
  padding-right: 20px;
  img{
    height: 220px;
    border-radius: 20px;
  }
}

.statistics{
  p{
    display: inline-block;
    width: 34%;
  }
}

.exp-ed{
  color: #fff;
  padding-bottom: 40px;

  p{
    font-size: 12px;
  }

  .resume-container{
    padding: 40px 0;
  }

  .year{
    position: absolute;
    padding: $expEdYearPadding;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: background .5s; /* Safari */
    transition: background .5s;
    width: 8%;
  }

  .year-highlight{
    background: rgba(255, 255, 255, .5);
  }

  .col {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2px;
    vertical-align: top;
  }
  .col-year {
    font-size: $expEdYearFont;
    border-right: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    width: 8%;
  }

  .col1 {
  }

  .exp-ed-item {
    font-size: $expEdItemFont;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, .5);
    padding-top: 6px;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
  }

  .exp-ed-item:hover{
    background: rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, .9);
  }

  .exp-ed-item .location{
    color: $medgrey;
  }
}

.quote-block{
  position: relative;
  display: block;
  width: 300px;
  padding: 40px 0px 50px;
  margin: 0 auto;
}

quote{
  font-family: 'Rouge Script', cursive;
  font-size: $h1Font;
}

.quote-cite{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fire-arts {
    height: 520px;   cc   vv     m
    position: relative;
    background: url(../images/CatLaine_BM2013_RiskeeBall.jpg) no-repeat center top fixed; 
    background-position: 43% center;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }bcnm

.fire-art-description {
  opacity: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60%;
  background: rgba(0, 0, 0, .7);
  border-radius: 20px;
  padding: 15px;

  a, p, h3{
    font-size: $pFont;
    color: #fff;
  }

  p, h3 {
    padding: 4px 0;
  }

  h3 {
    font-size: $h2Font;
  }

  p {
    text-align: justify;
    line-height: 1.5;
  }

  a {
    color: $medgrey;
  }

  a:hover {
    color: #000;
  }

}

.photo-credit, .photo-credit a {
  color: #fff;
  font-size: $vSmall;
}

.photo-credit a:hover {
  color: #000;
}

.photo-credit {
  position: absolute;
  bottom: 3px;
  left: 20px;
}

.contact-info{
  .contact-name, .contact-addy {
    display: block;
    text-align: center;
    width: 100%;
    font-size: $pFont;
  }

  .contact-name {
    padding-top: 60px;
  }

  .contact-addy {
    padding-bottom: 40px;
  }

  ul {
    display: block;
    width: 40%;
    margin: 0 45%;
  }

  li{
    list-style-type: none;
    padding-bottom: 10px;
    font-size: $pFont;
    text-align: left;
  }
  i {
    padding-right: 10px;
    font-size: $pFont;
  }

  a:hover i{
    color: #000;
  }
}



@media (max-width: 950px) {
  nav a {
    font-size: $vSmall;
  }
  nav li{
    margin: 20px 6px;
  }

  .gallery-cell{
    padding-right: 10px;
    img{
      height: 180px;
      border-radius: 20px;
    }
  }

  p {
      line-height: 1.4;
      font-size: $pFont;
      vertical-align:top;
  }

  .fire-art-description {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60%;
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 15px;

    p, h3, a{
      font-size: $vSmall;
      color: #fff;
    }

    h3 {
      font-size: $pFont;
    }
  }
}

@media (max-width: 850px) {

    .flex-container {
      height: 180px;
    }

    .gallery-cell{
      padding-right: 10px;
      img{
        height: 160px;
        border-radius: 20px;
      }
    }

  }

@media (max-width: 750px) {
  nav {
    background: #000;

    li {
      display: inline-block;
      margin: 20px 2px;
      padding: 0 2px;
    }

    a {
      font-size: 15px;
    }
  }

}

@media (max-width: 650px) {

    nav {
      background: #000;

      li {
        display: block;
        margin: 0 2px;
        padding: 4px 2px;
      }

      a {
        font-size: 15px;
      }
    }

    .about-me{
      padding: 120px 0 60px;
      position: relative;
    }

  .about-me p, .statistics p {
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: $vSmall;
  }

  .container{
    margin-top: 10px;
    padding-top: 20px;
  }

  .flex-container {
      height: auto;
      display: block;
  }

  .tool{
    font-size: $pFont;
    display: block;
    margin: 4px;
  }

  .gallery-cell{
    padding-right: 10px;
    img{
      height: 160px;
      border-radius: 20px;
    }
  }

  .fire-arts {
      background: url(../images/CatLaine_BM2013_RiskeeBall.jpg) no-repeat center top fixed; 
      background-position: 43% center;
    }

  .fire-art-description {
    right: 0;
    bottom: 5px;
    width: 100%;
    border-radius: 0px;
    padding: 10px;

    p {
      line-height: 1.1;
    }

    a {
      color: $medgrey;
    }
  }

  .photo-credit {
    position: absolute;
    top: 10px;
    left: 10px;
  }

}
